tags
tmux/plugins/
zsh/secrets.sh
zsh/.zsh_history
zsh/.zsh_sessions
zsh/.zcompdump*
zsh/plugins
zsh/.zcompcache
/.claude/settings.local.json
settings.local.json
.DS_Store
lazygit/state.yml
flavours/templates/borders/borders
flavours/templates/fzf/fzf
flavours/templates/kitty/kitty
flavours/templates/sketchybar/sketchybar
flavours/templates/tmux/tmux
