background #{{base00-hex}}
foreground #{{base05-hex}}
selection_background #{{base02-hex}}
selection_foreground #{{base05-hex}}
url_color #{{base0B-hex}}
cursor #{{base05-hex}}

macos_titlebar_color #{{base00-hex}}

active_tab_background #{{base0F-hex}}
active_tab_foreground #{{base00-hex}}
inactive_tab_background #{{base02-hex}}
inactive_tab_foreground #{{base04-hex}}

color0 #{{base00-hex}}
color1 #{{base08-hex}}
color2 #{{base0B-hex}}
color3 #{{base0A-hex}}
color4 #{{base0D-hex}}
color5 #{{base0E-hex}}
color6 #{{base0C-hex}}
color7 #{{base05-hex}}

color8 #{{base03-hex}}
color9 #{{base08-hex}}
color10 #{{base0B-hex}}
color11 #{{base0A-hex}}
color12 #{{base0D-hex}}
color13 #{{base0E-hex}}
color14 #{{base0C-hex}}
color15 #{{base07-hex}}
