--tmux 90%,90%
--multi
--bind='ctrl-o:become($EDITOR {})'
--bind 'ctrl-/:toggle-preview'
--bind 'ctrl-d:preview-half-page-down'
--bind 'ctrl-u:preview-half-page-up'
--preview 'fzf-preview.sh {}'
--padding=0% --color='dark,fg:magenta'
--layout=reverse
--border-label=''
--info=hidden
--prompt='▶ '
--pointer='▶'
--marker=''
--padding 0,1
--margin 0,0
--border
--style=full
--no-scrollbar
--bind 'focus:transform-preview-label:[[ -n {} ]] && printf \" %s \" {}'
--color=dark
--color 'border:#{{base02-hex}},label:#{{base03-hex}}'
--color 'input-border:#{{base03-hex}},input-label:#{{base08-hex}}'
--color 'preview-border:#{{base03-hex}},preview-label:#{{base08-hex}}'
--color 'list-border:#{{base03-hex}},list-label:#{{base08-hex}}'
--color 'gutter:#{{base01-hex}}'
--color 'current-bg:#{{base01-hex}}'
--color 'current-hl:#{{base0A-hex}}'
--color 'list-fg:#{{base04-hex}}'
--color 'pointer:#{{base0A-hex}}'
--color 'marker:#{{base0A-hex}}'
